NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YmV0dGVyLXJhY2Nvb24tMTYmssfysuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_M6N1haEmAQYsf0mABjFUOD8VcRrtV0BkyYfLlosQQL

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:[password]@localhost:3306/[project-name]"

WEBHOOK_SECRET=whsec_9e4ueZ/G4uahfjauiu4VEkFct6Wb9/8q27

NODE_ENV="development"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=ahsfahjrh
NEXT_PUBLIC_CLOUDINARY_API_KEY=65627954542411
CLOUDINARY_API_SECRET=ZDpYfnaNAF-uf5-vcmZ_Ui8rOw